
<form method=post action="{{url_for('corr_exo_eff')}}">
  
<fieldset>
<legend>Exercices pour {{nom[0]}} {{nom[1]}}</legend>
{%for items in exos%}
<legend>Exercice {{items[0]}}</legend> <SELECT name='exo' id='{{items[0]}}' size='1'>
	<option>Acquis
	<option>En cours d'acquisition
	<option>Non acquis
	</SELECT>
{%endfor%}
</SELECT>
</fieldset>
<input type="hidden" name="id_exos" value="{{exos}}"/>
<input type="hidden" name="id_stud" value="{{id_stud}}"/>
<input type=submit value="Terminer">
</form>
