<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Apprentisage</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='simpleGridTemplate.css') }}" />
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Apprentissage Adaptatif</h4>
  </header>
  
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <h3 style="text-align: left">Bonjour {{ lti.name }}</h3>
    </div>
  </section>
  
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail">
      <h4>Administration</h4>
      <p class="tag"><a href="{{ url_for('index_staff') }}">Vérifier votre rôle</a></p>
      
      <!-- <p class="tag"><a href="{{ url_for('teachers_class') }}">Voir vos élèves </a></p> -->
    
    </div>
    <div class="thumbnail">
      <h4>Exercices<br>upload</h4>
      <p class="tag"><a href="{{ url_for('upload_exo') }}">Upload des exercices (tableau excel)</a></p>
      <p class="tag"><a href="{{ url_for('upload_latex') }}">Upload une fiche d'exercices (en LaTeX)</a></p>
      <p class="tag"><a href="{{ url_for('see_exos') }}">Voir à quels exercices correspondent des compétences</a></p>
      <p class="tag"><a href="{{ url_for('see_competences') }}">Voir à quelles compétences correspondent un exercice</a></p>
      
    </div>
    
    <div class="thumbnail">
      <h4>Exercices<br>assigner</h4>
	  <p class="tag"><a href="{{ url_for('gen',algo=algo) }}">Assigner les exercices de la semaine</a></p>
      <p class="tag"><a href="{{ url_for('select_stud') }}">Verifier les exercices assignés</a></p>
      <p class="tag"><a href="{{ url_for('corr') }}">Corriger les exercices</a></p>
    </div>
    <div class="thumbnail">
      <h4>Etudiant</h4>
      <p class="tag"><a href="{{ url_for('get_my_exos') }}">Imprimer mes exercices</a></p>
    </div>    

  </div>
  <div class="gallery"></div>
  
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
    <div class="button">like us</div>
  </footer>
  
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2017 -<strong>Apprentissage</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
